services:
  nginx:
    image: nginx:alpine
    container_name: toko_nginx
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - toko_network

  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: toko_php
    volumes:
      - .:/var/www/html
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    networks:
      - toko_network

  db:
    image: mariadb:alpine
    container_name: toko_mariadb
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: kasir_toko
      MYSQL_ALLOW_EMPTY_PASSWORD: "no"
    env_file:
      - .env
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - toko_network

volumes:
  db_data:

networks:
  toko_network:
    driver: bridge
