@import "tailwindcss";

/* Contoh jika ingin menambahkan komponen kustom di v4 */
@layer components {
  .btn-primary {
    background-color: #2563eb;
    color: white;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
  .btn-primary:hover {
    background-color: #1e40af;
  }

  .card {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  }
}